{
    "app": {
        "url": "https://jsonplaceholder.typicode.com",
        "ssl_verify": false
    },
    "vars": {
        "post_id": 1,
        "user_id": 1,
        "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC9zbnQuYXJnZW50aW5hLmdvYi5hciIsImF1ZCI6Imh0dHA6XC9cL3NudC5hcmdlbnRpbmEuZ29iLmFyIiwiaWF0IjoxNTIwNTQ1OTgwLCJleHAiOjE1MjA1NTMxODAsImp0aSI6IjlmNzRhN2RlZTllOTc1YjA2YjM1NjhhNTY0NmZlMWI0IiwidGltZXN0YW1wIjoxNTIwNTQ1OTgwLCJ1aWQiOjQsInVzZXJuYW1lIjoiZmNhcnJlcmFAaGV4YWN0YS5jb20iLCJyb2xlIjoiUk9MX0FETUlOIn0.Z_9kET4GZgUm9kiUvrVvo3bG4BDyi8Q38oAoRsN1mx0"
    }
}